@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

html {
  scroll-behavior: smooth;
  overscroll-behavior: contain;
  height: -webkit-fill-available;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  min-height: -webkit-fill-available;
}

section {
  min-height: 100vh;
}

@media (min-width: 1024px) {
  .grayscale {
    filter: grayscale(100%);
  }
}

@media (min-width: 1024px) {
  html {
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
  }

  .section {
    scroll-snap-align: start;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* .image > div, .video > div, .video video {
  width: 100%;
}

@media (min-width: 1024px) {
  .image > div, .video > div, .video video {
    width: 100%;
    height: 100vh
  }
} */

/* =================== */

.side-menu .slide .slide__pill {
  width: 9px;
  height: 9px;
  border-radius: 50px;
  @apply block absolute top-1/2 left-0 transform -translate-y-1/2 transition-all ease-in-out duration-150 bg-white;
}

.side-menu .slide .slide__label {
  @apply ml-10 opacity-0 text-white;
}

/* =================== */

.slick-prev {
  left: 2rem !important;
}

.slick-next {
  right: 2rem !important;
}

.slick-arrow {
  width: 16px !important;
  height: 28px !important;
}

.slick-arrow:before {
  content: "" !important;
}

/* =================== */

/* .menu li.menu-item > a {
  position: relative;
} */

.menu li.menu-item > a:after {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50px;
  @apply block absolute bg-epm-gray-700 top-1/2 right-0 transform -translate-y-1/2 transition-all ease-in-out duration-150;
}

.menu li.menu-item.menu-item--open > a:after {
  width: 31px;
  @apply bg-epm-yellow;
}

@media (min-width: 1024px) {
  .menu li.menu-item > a:after {
    display: none;
  }
}

/* =================== */

@media (min-width: 1024px) {
  header .desktop-menu .sub-menu {
    opacity: 0;
    z-index: -1;
    @apply transition-all ease-in-out duration-150;
  }

  

  header .desktop-menu li.menu-item:hover .sub-menu {
    opacity: 1;
  }

  header .desktop-menu li.menu-item {
    @apply text-epm-gray-500;
  }

  body[data-header-theme="light"] .header .desktop-menu li.menu-item.menu-item--current > a,
  body[data-header-theme="light"] .header .desktop-menu li.menu-item:hover > a {
    @apply border-b border-epm-yellow pb-0.5 transition-all ease-in-out duration-150;
  }

  body[data-header-theme="light"] .header .desktop-menu li.menu-item.menu-item--current,
  body[data-header-theme="light"] .header .desktop-menu li.menu-item:hover {
    @apply text-white;
  }

  body[data-header-theme="light"] .header .desktop-menu sub-menu li {
    @apply text-white;
  }

  body[data-header-theme="light"] .header .desktop-menu .sub-menu li a:hover {
    @apply opacity-70 transition-opacity duration-150 ;
  }

  body[data-header-theme="dark"] .header .desktop-menu li.menu-item.menu-item--current > a,
  body[data-header-theme="dark"] .header .desktop-menu li.menu-item:hover > a {
    @apply border-b border-epm-yellow pb-0.5 transition-all ease-in-out duration-150;
  }

  body[data-header-theme="dark"] .header .desktop-menu li.menu-item.menu-item--current,
  body[data-header-theme="dark"] .header .desktop-menu li.menu-item:hover {
    @apply text-epm-gray-700;
  }

  body[data-header-theme="dark"] .header .desktop-menu .sub-menu {
    @apply bg-white p-4 shadow-md mt-1 w-48;
  }

  body[data-header-theme="dark"] .header .desktop-menu .sub-menu li {
    @apply border-b border-epm-gray-500 pb-2 mb-2;
  }

  body[data-header-theme="dark"] .header .desktop-menu .sub-menu li:last-child {
    @apply border-0 mb-0;
  }

  body[data-header-theme="dark"] .header .desktop-menu .sub-menu li a {
    @apply text-epm-gray-700;
  }

  body[data-header-theme="dark"] .header .desktop-menu .sub-menu li a:hover {
    @apply text-black;
  }
}

/* =================== */

/* .main {
  height: 812px;
} */

/* =================== */

/* .story {
  height: 812px;
} */

/* =================== */

.innovation .slick-arrow {
  top: auto;
  bottom: 100px;
}

.treatments .slick-arrow {
  top: auto;
  bottom: 0px;
}

.solution .slick-arrow {
  top: auto;
  @apply bottom-8;

  @media (min-width: 1024px) {
    bottom: auto;
    top: 50%;
    transform: translateY(-50%);
  }
}

.research-papers .slick-arrow {
  top: auto;
  bottom: 162.5px;
}

.community .slick-arrow {
  top: auto;
  bottom: 30px;

  @media (min-width: 1024px) {
    bottom: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.raphael-mechoulam .slick-arrow {
  top: auto;
  bottom: -55px !important;
}

@media (min-width: 1024px) {
  .raphael-mechoulam .slick-arrow {
    top: auto;
    transform: none;
    bottom: 120px;

  }
  .raphael-mechoulam .slick-prev{
    left: 4.5rem !important;
  }

  .raphael-mechoulam .slick-next{
    right: 4.5rem !important;
  }
}

@media (min-width: 1536px) {
  .raphael-mechoulam .slick-arrow {
    top: 50%;
    transform: translateY(-50%);
  }
}

.media .slick-arrow {
  top: auto;
  bottom: 35px;

  @media (min-width: 1024px) {
    bottom: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

/* =================== */

.essence .items {
  height: 462px;
  @apply lg:h-screen;
}

/* =================== */

@media (min-width: 1024px) {
  .community .item.item--active .overlay {
    @apply bg-black bg-opacity-50;
  }

  .community .item.item--active .container,
  .community .item:hover .container {
    opacity: 1;
  }

  .community .item.item--active img,
  .community .item:hover img {
    filter: none;
  }
}

@media (min-width: 1280px) {
  .leader_image div {
    @apply h-1/6-screen;
  }
}

/* .leadership .items-group:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -160px;
  width: 160px;
  height: 1px;
  @apply bg-epm-gray-500;
} */