@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

html {
  scroll-behavior: smooth;
  overscroll-behavior: contain;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

section {
  min-height: 100vh;
}

@media (min-width: 1024px) {
  .grayscale {
    filter: grayscale(100%);
  }
}

@media (min-width: 1024px) {
  #__next {
    max-height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
  }

  section,
  footer {
    min-height: auto;
    scroll-snap-align: start;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* =================== */

.side-menu .slide .slide__pill {
  width: 9px;
  height: 9px;
  border-radius: 50px;
  @apply block absolute top-1/2 left-0 transform -translate-y-1/2 transition-all ease-in-out duration-150;
}

.side-menu .slide .slide__label {
  @apply ml-10 opacity-0;
}

.side-menu--dark .side-menu .slide .slide__pill {
  @apply bg-epm-dark-gray;
}

.side-menu--dark .side-menu .slide .slide__label {
  @apply text-epm-dark-gray;
}

.side-menu--light .side-menu .slide .slide__pill {
  @apply bg-white;
}

.side-menu--light .side-menu .slide .slide__label {
  @apply text-white;
}

/* =================== */

.slick-prev {
  left: 2rem !important;
}

.slick-next {
  right: 2rem !important;
}

.slick-arrow:before {
  content: "" !important;
}

/* =================== */

/* .menu li.menu-item > a {
  position: relative;
} */

.menu li.menu-item > a:after {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50px;
  @apply block absolute bg-epm-dark-gray top-1/2 right-0 transform -translate-y-1/2 transition-all ease-in-out duration-150;
}

.menu li.menu-item.menu-item--open > a:after {
  width: 31px;
  @apply bg-epm-yellow;
}

@media (min-width: 1024px) {
  .menu li.menu-item > a:after {
    display: none;
  }
}

/* =================== */

@media (min-width: 1024px) {
  header .desktop-menu .sub-menu {
    opacity: 0;
    @apply transition-all ease-in-out duration-150;
  }

  header .desktop-menu li.menu-item {
    @apply text-epm-light-gray;
  }

  header .desktop-menu li.menu-item:hover {
    @apply text-white;
  }

  header .desktop-menu li.menu-item:hover > a {
    @apply border-b border-epm-yellow pb-0.5 transition-all ease-in-out duration-150;
  }

  header .desktop-menu li.menu-item:hover .sub-menu {
    opacity: 1;
  }
}

/* =================== */

/* .main {
  height: 812px;
} */

/* =================== */

/* .story {
  height: 812px;
} */

/* =================== */

.innovation .slick-arrow {
  top: auto;
  bottom: 110px;
}

.treatments .slick-arrow {
  top: auto;
  bottom: 10px;
}

/* =================== */

.essence .items {
  height: 462px;
  @apply lg:h-screen;
}

/* =================== */

@media (min-width: 1024px) {
  .community .item.item--active .container,
  .community .item:hover .container {
    opacity: 1;
  }

  .community .item.item--active img,
  .community .item:hover img {
    filter: none;
  }
}

.community .slick-arrow {
  top: auto;
  bottom: 35px;

  @media (min-width: 1024px) {
    bottom: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
